name: Deploy Docker App

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.AZURE_VM_SSH_KEY }}

      - name: Deploy Docker container to Azure VM
        run: |
          ssh -o StrictHostKeyChecking=no azureuser@135.116.80.231 << 'EOF'
            cd ~/my-docker-app
            sudo docker stop myapp || true
            sudo docker rm myapp || true
            sudo docker build -t myapp .
            sudo docker run -d -p 8080:80 --name myapp myapp
          EOF

